/*@import "base/_wordpress.scss";*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100&subset=latin,latin-ext,cyrillic-ext,cyrillic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,latin-ext);
html, body {
  margin: 0px;
  padding: 0px; }

.visible {
  opacity: 1;
  visibility: visible; }

.hidden {
  opacity: 0;
  visibility: hidden; }

@font-face {
  font-family: 'museo_sans500';
  src: url(fonts/museosans_500.eot);
  src: url(fonts/museosans_500.eot?#iefix) format("embedded-opentype"), url(fonts/museosans_500.woff2) format("woff2"), url(fonts/museosans_500.woff) format("woff"), url(fonts/museosans_500.ttf) format("truetype"), url(fonts/museosans_500.svg#museo_sans500) format("svg");
  font-weight: normal;
  font-style: normal; }
.wrapper {
  margin: 0 auto !important;
  padding: 0;
  position: relative;
  width: 1000px; }

.text-right {
  text-align: right !important; }

.text-left {
  text-align: left !important; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

body {
  margin: 0; }

[class*='col-'] {
  float: left;
  /* column-space */ }

.grid {
  width: 100%;
  max-width: 100%;
  margin: 0 auto; }
  .grid:after {
    content: "";
    display: table;
    clear: both; }

.grid-pad {
  padding-top: 10px;
  padding-left: 20px;
  /* grid-space to left */
  padding-right: 20px;
  /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */ }

.push-right {
  float: right; }

/* Content Columns */
.col-1-1 {
  width: 100% !important; }

.col-2-3,
.col-8-12 {
  width: 66.66%; }

.col-1-2,
.col-6-12 {
  width: 50%; }

.col-1-3,
.col-4-12 {
  width: 33.33%; }

.col-1-4,
.col-3-12 {
  width: 25%; }

.col-1-5 {
  width: 20%; }

.col-1-6,
.col-2-12 {
  width: 16.6667%; }

.col-1-7 {
  width: 14.28%; }

.col-1-8 {
  width: 12.5%; }

.col-1-9 {
  width: 11.1%; }

.col-1-10 {
  width: 10%; }

.col-1-11 {
  width: 9.09%; }

.col-1-12 {
  width: 8.33%; }

/* Layout Columns */
.col-11-12 {
  width: 91.66%; }

.col-10-12 {
  width: 83.333%; }

.col-9-12 {
  width: 75%; }

.col-5-12 {
  width: 41.66%; }

.col-7-12 {
  width: 58.33%; }

/* Pushing blocks */
.push-2-3,
.push-8-12 {
  margin-left: 66.66%; }

.push-1-2,
.push-6-12 {
  margin-left: 50%; }

.push-1-3,
.push-4-12 {
  margin-left: 33.33%; }

.push-1-4,
.push-3-12 {
  margin-left: 25%; }

.push-1-5 {
  margin-left: 20%; }

.push-1-6,
.push-2-12 {
  margin-left: 16.667%; }

.push-1-7 {
  margin-left: 14.28%; }

.push-1-8 {
  margin-left: 12.5%; }

.push-1-9 {
  margin-left: 11.1%; }

.push-1-10 {
  margin-left: 10%; }

.push-1-11 {
  margin-left: 9.09%; }

.push-1-12 {
  margin-left: 8.33%; }

@media handheld, only screen and (max-width: 769px) {
  .grid {
    width: 100%;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    /* grid-space to left */
    padding-right: 0;
    /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */ }

  [class*='col-'] {
    width: auto;
    float: none;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 10px;
    /* column-space */ }

  /* Mobile Layout */
  [class*='mobile-col-'] {
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 10px;
    /* column-space */
    padding-bottom: 0; }

  .mobile-col-1-1 {
    width: 100%; }

  .mobile-col-2-3,
  .mobile-col-8-12 {
    width: 66.66%; }

  .mobile-col-1-2,
  .mobile-col-6-12 {
    width: 50%; }

  .mobile-col-1-3,
  .mobile-col-4-12 {
    width: 33.33%; }

  .mobile-col-1-4,
  .mobile-col-3-12 {
    width: 25%; }

  .mobile-col-1-5 {
    width: 20%; }

  .mobile-col-1-6,
  .mobile-col-2-12 {
    width: 16.667%; }

  .mobile-col-1-7 {
    width: 14.28%; }

  .mobile-col-1-8 {
    width: 12.5%; }

  .mobile-col-1-9 {
    width: 11.1%; }

  .mobile-col-1-10 {
    width: 10%; }

  .mobile-col-1-11 {
    width: 9.09%; }

  .mobile-col-1-12 {
    width: 8.33%; }

  /* Layout Columns */
  .mobile-col-11-12 {
    width: 91.66%; }

  .mobile-col-10-12 {
    width: 83.333%; }

  .mobile-col-9-12 {
    width: 75%; }

  .mobile-col-5-12 {
    width: 41.66%; }

  .mobile-col-7-12 {
    width: 58.33%; }

  .hide-on-mobile {
    display: none !important;
    width: 0;
    height: 0; } }
footer {
  padding: 40px 0;
  background: #757575;
  color: #fff;
  font: 400 12px NexaLight; }
  footer span {
    vertical-align: middle; }
  footer img {
    vertical-align: middle;
    padding: 0 15px; }

header {
  background: url(../images/book.png) no-repeat top left/cover;
  height: 475px;
  display: block;
  width: 100%;
  position: relative; }
  header .logo {
    position: relative;
    top: 125px; }
    header .logo a {
      text-decoration: none; }
  header nav {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: block;
    width: 100%; }
    header nav ul {
      list-style: none;
      padding: 0;
      margin: 0 auto; }
      header nav ul li {
        display: inline-block;
        text-align: center;
        position: relative; }
        header nav ul li a {
          padding: 20px 25px;
          display: inline-block;
          text-decoration: none;
          font: 400 12px NexaBold;
          color: #fff;
          text-transform: uppercase; }
        header nav ul li::before {
          content: '';
          position: absolute;
          height: 3px;
          background: #be0c3e;
          width: 100%;
          top: -3px;
          display: none; }
        header nav ul li::after {
          position: absolute;
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 7.5px 0 7.5px;
          border-color: #be0c3e transparent transparent transparent;
          left: 45%;
          display: none;
          bottom: -15px; }
        header nav ul li:hover::after, header nav ul li:hover::before {
          display: block; }
    header nav .cart {
      text-align: center; }
      header nav .cart a {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        padding: 20px 25px;
        color: #fff;
        background: url(../images/cart.png) no-repeat 85% center/29px 27px; }

.balans {
  background: #be0c3e;
  color: #fff;
  padding: 7px 10px; }

.middle {
  padding: 50px 0; }
  .middle .sort ul {
    height: auto;
    padding: 0px 15px;
    margin: 0;
    border: 1px solid #be0c3e; }
    .middle .sort ul li {
      display: inline-block;
      height: auto !important;
      width: auto;
      color: #be0c3e;
      font: 400 18px NexaBold;
      text-transform: uppercase;
      text-align: center;
      padding: 3px 0; }
      .middle .sort ul li a {
        padding: 7px;
        text-decoration: none;
        color: #b4b4b4;
        font: 400 14px NexaLight; }
      .middle .sort ul li.active a {
        color: #be0c3e;
        font: 400 14px NexaLight; }
  .middle ul.allpr {
    list-style: none;
    clear: both; }
    .middle ul.allpr li {
      float: left;
      width: 320px; }
  .middle .slider-1 li,
  .middle .slider-2 li,
  .middle .product li {
    height: 350px;
    padding: 0 25px;
    text-align: center; }
    .middle .slider-1 li:hover,
    .middle .slider-2 li:hover,
    .middle .product li:hover {
      border: 1px solid #656565; }
      .middle .slider-1 li:hover .desc,
      .middle .slider-2 li:hover .desc,
      .middle .product li:hover .desc {
        display: block; }
  .middle .thumb {
    text-align: center; }
    .middle .thumb img {
      display: inline; }
  .middle .title {
    padding: 0 15px 15px; }
    .middle .title h2 {
      color: #656565;
      font: 400 18px Arial; }
  .middle .desc {
    color: #be0c3e;
    font: 400 14px Arial;
    display: none; }
  .middle .price {
    color: #656565;
    font: 400 18px Arial;
    margin: 15px; }
    .middle .price span {
      color: #292929;
      font: 700 18px Arial; }

h1 {
  color: #be0c3e;
  font: 400 18px NexaBold;
  text-transform: uppercase;
  margin: 20px 0 0;
  padding: 20px 0 0; }

.slider-2 {
  margin-top: 100px; }

/*# sourceMappingURL=main.css.map */
