{% load staticfiles %}


            <div class="product" style="display: block; min-height: 400px;">
              <ul class="allpr">

                    {% for book in sorted_list %}
                        <li>
                            <div class="title">
                                <h2> {{ book.2 }} </h2>
                            </div>
                            <div class="thumb">
                                <img src="{% static book.4 %}" height="150" width="100">
                            </div>

                          <form method="post" action="/add/{{ book.0 }}/1/"> <!--DO POPRAWY -->
 
                          {% csrf_token %}
                         
                          <div class="form-group" action=>
                              <button type="submit">Dodaj do koszyka</button>
                          </div>
                          
                          </form>
                            <div class="price">
                                Cena
                                <span> {{ book.3 }} </span>
                            </div>
                            <div class="desc">
                                <h4> {{ book.1 }} </h4>
                                {{ book.5 }}
                            </div>
                    {% endfor %}

              </ul>
          

            </div>
              <div style="margin: 0 auto; width: 450px; position: relative;">
               <form style="display:inline-block" method="get" action="">
                 <button type="submit" name="previous" value="1">Poprzednia strona</button>
               </form>
                <p style="display: inline-block; margin: 5px 70px">{{ page }}</p>
                <form style="display:inline-block; margin: 0" method="get" action="">
                  <button type="submit" name="next" value="1">Następna strona</button>
                </form>
              </div>