{% load staticfiles %}

<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <title>Koszyk - Szczęśliwa Księgarnia</title>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <!-- bxSlider Javascript file -->
  <script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
  <!-- bxSlider CSS file -->
  <link href="{% static 'css/jquery.bxslider.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
  
{% include "menu.html" %}

  <section class="middle">
    <div class="wrapper">
      <div class="grid">
        <div class="col-1-1">

          
          <div class="koszyk">

            <ul>

              {% for book in cart_list %}
              <li class="rzad">

                <img alt="" src="{% static book.4 %}" height="130" width="90">

                <p class="tytul">{{ book.2 }}</p>

                <p class="cena">{{ book.3 }} zł</p>

                <div class="ileBox">
                  <span class="prev">&lt;</span>
                  <input type="text" name="ilosc" placeholder="1">
                  <span class="next">&gt;</span>
                </div>

                <form method="post" action="delete/{{ book.0 }}/">
                  {% csrf_token %}
                  <button class="btn" type="submit">
                    <img class="cross" alt="usun" src="{% static 'images/cross.png' %}">
                  </button>
                </form>

              </li>
              {% endfor %}
              
            </ul>

          </div>


        </div>
      </div>
    </div>
  </section>

{% include "footer.html" %}

</body>

</html>
