{% load staticfiles %}

<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <title>Szczęśliwa księgarnia</title>

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <!-- bxSlider Javascript file -->
  <script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
  <!-- bxSlider CSS file -->
  <link href="{% static 'css/jquery.bxslider.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
  <header>
    <div class="wrapper">
      <div class="logo">
        <a href="index.html">
          <img src="{% static 'images/logo.png' %}" alt="">
        </a>
      </div>
    </div>
    <nav>
      <div class="wrapper">
        <div class="grid">
          <div class="col-9-12">

            <ul>
              <li><a href="">Link 1</a></li>
              <li><a href="">Link 2</a></li>
              <li><a href="">Link 3</a></li>
              <li>
                   <form method="post" action="">
 
			{% csrf_token %}
		 
			<div class="form-group">
			    <input type="text" name="query"/>
			    <input type="submit" class="btn" value="Szukaj" name="search">
			</div>
			

		    </form>
		
            </ul>

          </div>
          <div class="col-3-12">
            <span class="cart"><a href="">koszyk</a></span>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div class="wrapper">
    <div class="grid">
      <div class="col-3-12 balans push-right">
        <div class="grid">
          <div class="col-9-12 text-left">
            <span>Obecnie</span>
          </div>
          <div class="col-3-12 text-right">0.00 zł</div>
        </div>
      </div>
    </div>
  </div>
  <section class="middle">
    <div class="wrapper">
      <div class="grid">
        <div class="col-1-1">

          <div class="slider-1">
            <h1>Nasze Produkty</h1>
            <ul class="slider1">

                {% for book in book_list %}
                    <li>
                        <div class="title">
                            <h2> {{ book.2 }} </h2>
                        </div>
                        <div class="thumb">
                            <img src="{% static book.4 %}" height="150" width="100">
                        </div>
                        <div class="price">
                            Cena
                            <span> {{ book.3 }} </span>
                        </div>
                        <div class="desc">
                            <h4> {{ book.1 }} </h4>
                            {{ book.5 }}
                        </div>
                {% endfor %}

            </ul>
          </div>

          <div class="products" style="padding:50px 0">
            <div class="grid">
              <div class="col-5-12 push-right sort">
                <ul>

                  <li>Sortuj po:</li>

                  <!-- Bardzo nieeleganckie - do zmiany. !-->
                    <li style="padding:0 25px;" {% if sort == 'tytul' %} class="active" {% endif %}>
                    <a href="/tytul/">Nazwa</a></li>
                    <li style="padding:0 25px;" {% if sort == 'cena' %} class="active" {% endif %}>
                    <a href="/cena/">Cena</a></li>
                    <li style="padding:0 25px;" {% if sort == 'autor' %} class="active" {% endif %}>
                    <a href="/autor/">Autor</a></li>
                    <li style="padding:0 25px;" {% if sort == 'kategoria' %} class="active" {% endif %} >
                    <a href="/kategoria/">Kategoria</a></li>

                </ul>
              </div>
            </div>

            <div class="product">
              <ul class="allpr">

                    {% for book in sorted_list %}
                        <li>
                            <div class="title">
                                <h2> {{ book.2 }} </h2>
                            </div>
                            <div class="thumb">
                                <img src="{% static book.4 %}" height="150" width="100">
                            </div>
                            <div class="price">
                                Cena
                                <span> {{ book.3 }} </span>
                            </div>
                            <div class="desc">
                                <h4> {{ book.1 }} </h4>
                                {{ book.5 }}
                            </div>
                    {% endfor %}

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="wrapper">
      <div class="grid">
        <div class="col-1-2 text-left">
          <img src="{% static 'images/book-white.png' %}" alt="">
          <span>GRUPATAS#2015 &copy;</span>
        </div>
        <div class="col-1-2 text-right">GRUPA</div>
      </div>
    </div>
  </footer>

</body>

</html>
