{% load staticfiles %}

<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <title>Koszyk - Szczęśliwa Księgarnia</title>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <!-- bxSlider Javascript file -->
  <script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
  <!-- bxSlider CSS file -->
  <script src="{% static 'js/koszykowy.js' %}"></script>
  <!-- koszykowe funkcje -->
  <link href="{% static 'css/jquery.bxslider.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
  
{% include "menu.html" %}

  <section class="middle">
    <div class="wrapper">
      <div class="grid">
        <div class="col-1-1">

          
          <div class="koszyk">

              Przesyłkę z książkami nadamy jak tylko (i jeśli) zaksięgujemy pieniądze na koncie. <br>
              Dziękujemy za zakupy w naszym sklepie i zapraszamy ponownie.

            <ul>

              {% for book in cart_list %}
              <li id="rzad{{ book.0 }}" class="rzad">

                <img alt="" src="{% static book.4 %}" height="130" width="90">

                <p class="tytul">{{ book.2 }}</p>

                <p class="cena">{{ book.3 }} zł</p>

                <div class="ileBox">
                  <input id="ilosc{{ book.0 }}" type="text" name="ilosc" value="1">
                </div>

              </li>
              {% endfor %}

              Razem do zapłaty: {{ price }} zł

            </ul>

          </div>

        </div>
      </div>
    </div>
  </section>

{% include "footer.html" %}

</body>

</html>
