.wrapper {
	margin: $center-margin !important;
	padding: 0;
	//max-width: $width-960;
	position: relative;
	width: 1000px;
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
