<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Szczęśliwa Księgarnia </title>
    
    <link rel="stylesheet" href="ksiegarnia.css" type="text/css">
    
    <script src="jquery-1.11.3.min.js"></script>
    
    <script src="slider-plugin.js"></script>
    
    <script>

        $(function() {
			$('.carousel').carousel({
				display_li     : 3,
				animate_delay  : 700,
				pause_time     : 5000,
				auto           : true,				
				onScroll       : function() {}
			});
		});
	
    </script>
	
    <script type="text/javascript" language="javascript">
	
		function show()
		{
			var viewed = document.getElementById('cart-desc');
			var viewedNew = document.getElementById('cart-desc2');
			
				viewed.style.display = 'none';
				viewedNew.style.display = 'block';

		}
		function hide()
		{
			var viewed = document.getElementById('cart-desc');
			var viewedNew = document.getElementById('cart-desc2');
			
				viewed.style.display = 'block';
				viewedNew.style.display = 'none';
		}


	</script>
   
</head>

<body>

    <div id="header">
        
        <img atl="logo" src="logo2.png" width="400" height="177">
		
        <form class="search-box" method="get" action="">
            <input id="search" class="input-text" name="query" value="" x-webkit-speech="" speech="" placeholder="czego szukasz?" autocomplete="off">
        
            <button class="button" title="szukaj" type="submit">
                <img src="lupka.png" alt="Szukaj" width="22" height="22">
            </button>
		</form>
        
        <div class="cart">
        
        	<img alt="koszyk" src="koszyk_wiekszy.jpg" width="47" height="50">
            
            <div id="cart-desc" onClick="show();">
            	<p>koszyk jest pusty </p>
            </div>
            
            <div id="cart-desc2" onClick="hide();">
            	<div class="items">
                	<p id="amount">xx</p> 		<!-- ilość zakupionych książek -->	
                </div>
            	<p id="price">xx,xx zł</p>		<!-- łączna kwota zakupionych książek -->	
            </div>
        </div>
    
    </div>
    <div id="nav">
    	
        <div class="top-left-triangle"></div>
        <div class="bottom-left-triangle"></div>
        
    	<div class="rectangle">
            <ul>
              <li><a href="#">Gatunek</a>
              	<ul>
                    <li id="autobiography"><a href="#">Autobiografie</a>
                    	<ul>
                        	
                                <h1>polecane</h1>
                                <h2>tytuł</h2>
                                <img alt="cover" src="pan_tadeusz.jpg" width="142" height="200">
                                <h3>xx,xx zł</h3>
                          
                        </ul>
                    </li>
                    <li id="drama"><a href="#">Dramat</a>
                    	<ul>
                        	
                                <h1>polecane</h1>
                                <h2>tytuł</h2>
                                <img alt="cover" src="anielka.jpg" width="142" height="200">
                                <h3>xx,xx zł</h3>
                          
                        </ul>
                    </li>   
                    <li id="horror"><a href="#">Horrory</a>
                    	<ul>
                        	
                                <h1>polecane</h1>
                                <h2>tytuł</h2>
                                <img alt="cover" src="pan_tadeusz.jpg" width="142" height="200">
                                <h3>xx,xx zł</h3>
                          
                        </ul>
                    </li>   
                    <li id="whodunit"><a href="#">Kryminały</a>
                    	<ul>
                        	
                                <h1>polecane</h1>
                                <h2>tytuł</h2>
                                <img alt="cover" src="anielka.jpg" width="142" height="200">
                                <h3>xx,xx zł</h3>
                          
                        </ul>
                    </li>
                    <li id="classicalNovel"><a href="#">Literatura piękna</a>
                    	<ul>
                        	
                                <h1>polecane</h1>
                                <h2>tytuł</h2>
                                <img alt="cover" src="pan_tadeusz.jpg" width="142" height="200">
                                <h3>xx,xx zł</h3>
                          
                        </ul>
                    </li>    
                    <li id="marine"><a href="#">Marynistyczne</a>
                    	<ul>
                        	
                                <h1>polecane</h1>
                                <h2>tytuł</h2>
                                <img alt="cover" src="anielka.jpg" width="142" height="200">
                                <h3>xx,xx zł</h3>
                          
                        </ul>
                    </li>    
                    <li id="foreign"><a href="#">Obcojęzyczne</a>
                    	<ul>
                        	
                                <h1>polecane</h1>
                                <h2>tytuł</h2>
                                <img alt="cover" src="pan_tadeusz.jpg" width="142" height="200">
                                <h3>xx,xx zł</h3>
                          
                        </ul>
                    </li>    
                    <li id="adventure"><a href="#">Przygodowe</a>
                    	<ul>
             
                                <h1>polecane</h1>
                                <h2>tytuł</h2>
                                <img alt="cover" src="anielka.jpg" width="142" height="200">
                                <h3>xx,xx zł</h3>
                          
                        </ul>
                    </li>                                                                                                                                               
                </ul>  
              </li>
              <li><a href="#">Dla dzieci</a></li>
              <li><a href="#">Dla niej</a></li>
              <li><a href="#">Dla niego</a></li>
              <li><a href="#">Promocja</a></li>
            </ul>
        </div>
        
        <div class="top-right-triangle"></div>
        <div class="bottom-right-triangle"></div>
        
    </div>
    
<div id="content"> 

    <div class="carousel">
        <span class="prev">&lt;</span>
        <div class="wrapper">
            <ul>
                <li>
                	<div>
                        <h2>tytuł</h2>
                        <img alt="cover" src="pan_tadeusz.jpg" width="142" height="200">
                        <h3>xx,xx zł</h3>	
                    </div>
                </li>
                <li>
                	<div>
                        <h2>tytuł</h2>
                        <img alt="cover" src="anielka.jpg" width="142" height="200">
                        <h3>xx,xx zł</h3>	
                    </div>
                </li>
                <li>
                	<div>
                        <h2>tytuł</h2>
                        <img alt="cover" src="pan_tadeusz.jpg" width="142" height="200">
                        <h3>xx,xx zł</h3>	
                    </div>
                </li>
                <li>
                	<div>
                        <h2>tytuł</h2>
                        <img alt="cover" src="anielka.jpg" width="142" height="200">
                        <h3>xx,xx zł</h3>	
                    </div>
                </li>
            </ul>
        </div>
        <span class="next">&gt;</span>
    </div>
</div>

<div id="footer"> 

	<div class="column">
        <ul>
            <li>
                Uniwersytet im. Adama Mickiewicza w Poznaniu
            </li>
            <li>
                Wydział Matematyki i Informatyki
            </li>            
            <li>
                Kierunek: Informatyka
            </li>
            <li>
                Rok studiów: III
            <li>
                Tryb: studia stacjonarne
            </li>
        </ul>
	</div>
    
    <div class="column" style="margin-left:-1px; border-left: 1px solid #ffffff">
        <ul>
            <li>
                Projekt "Szczęśliwa Księgarnia" 
            </li>
            <li>
                zajęcia z Technologii aplikacji serwerowych
            <li>
                Prowadzący dr Marek Kubis
            </li>
            <li>
                TEST: {{ ev }} <!-- W ten sposob odwolujemy sie do zmiennych w views.py !-->
            </li>
        </ul>
	</div>
    
    <div class="column"  style="margin-left:-1px; border-left: 1px solid #ffffff">
        <ul>
            <li>
                Grupa nr 3
            </li>
            <li>
                Joanna Malińska
            <li>
                Rafał Pingot
            </li>
            <li>
                Maciej Sobolewski
            <li>
                Patryk Prusiewicz
            </li>
            <li>
                Piotr Beczyński
            <li>
                Marcin Jadwiszczak
            </li>                        
        </ul>
	</div>
        
</div>

</body>
</html>
